---
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/home/Hero.jsx';
import ListContent from '@/components/home/ListContent.astro';
import Main from '@/components/utils/Main.astro';
---

<Layout title="Dev-Books" description="Dev-Books">
    <Main>
        <Hero client:idle />
        <ListContent />
    </Main>
</Layout>
