---
import Footer from '@/components/utils/Footer.astro';
import Navigation from '../components/utils/Navigation.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/home/Hero.jsx'
---

<Layout title="Welcome to Astro.">
	<main>
		<Navigation />
		<Hero client:idle/>	
		<Footer />
	</main>
</Layout>


