---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Main from '@/components/utils/Main.astro';

export async function getStaticPaths() {
    const entries = await getCollection('linux');
    return entries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <Main>
        <section class="mx-auto max-w-screen-xl px-4 pt-10">
            <h2
                class="text-xl font-medium"
                transition:name={`title-${entry.data.title}`}
            >
                {entry.data.title}
            </h2>
            <section class="prose prose-invert max-w-none w-full">
                <Content />
            </section>
        </section>
    </Main>
</Layout>
