---
import { optionNav } from '@/constants';
import IconLogo from './IconLogo.astro';
---

<footer class="bg-primary dark:bg-dark-primary">
    <div
        class="relative mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 lg:pt-6"
    >
        <div
            class="absolute end-4 top-4 sm:end-6 sm:top-6 lg:end-8 lg:top-8 bg-secondary rounded-full flex justify-center items-center"
        >
            <a class="inline-block" href="#top">
                <span class="sr-only">Back to top</span>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-10 text-primary dark:text-gray-900"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>

        <div class="lg:flex lg:items-end lg:justify-between">
            <div>
                <div class="md:flex md:items-center md:gap-12">
                    <a class="block" href="/">
                        <span class="sr-only">Home</span>
                        <IconLogo size="size-20 md:size-24" />
                    </a>
                </div>

                <p
                    class="mx-auto mt-6 max-w-md md:text-center leading-relaxed text-secondary dark:text-dark-secondary lg:text-left dark:text-dark-pri"
                >
                    Eres libre de leer este contenido en cualquier momento,
                    somos una comunidad de aprendizaje y crecimiento.
                </p>
            </div>

            <ul
                class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
            >
                {
                    optionNav.map(item => (
                        <li>
                            <a
                                class="text-secondary transition dark:hover:text-dark-five dark:text-dark-secondary"
                                href={item.href}
                            >
                                {item.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>

        <p
            class="mt-12 text-center text-sm text-secondary lg:text-right dark:text-dark-five"
        >
            Copyright &copy; 2025. All rights reserved.
        </p>
    </div>
</footer>
