---
import { optionNav } from '@/constants';
import IconLogo from './IconLogo.astro';
import Switch from './Switch.svelte';
---

<header
    class="bg-primary dark:bg-dark-primary fixed w-full z-10 top-0 left-0 right-0"
>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6">
        <div class="flex h-16 items-center justify-between">
            <div class="md:flex md:items-center md:gap-12">
                <a class="block" href="/">
                    <span class="sr-only">Home</span>
                    <IconLogo size='size-14 md:size-[4rem]'/>
                </a>
            </div>

            <div class="hidden md:block">
                <nav aria-label="Global">
                    <ul class="flex items-center gap-6 text-sm">
                        {
                            optionNav.map(item => (
                                <li>
                                    <a
                                        class="transition text-secondary dark:hover:text-five hover:text-secondary mt-[-1rem] text-sm"
                                        href={item.href}
                                    >
                                        {item.title}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </nav>
            </div>

            <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4">
                    <Switch client:idle />
                </div>
            </div>
        </div>
    </div>
</header>
